<div class="container internal-page">

  <div class="col-md-12">
    <h2>Register</h2>
    <hr>
    <%= render template: "layouts/alerts" %>

    <%= form_for(@user) do |f| %>

      <%= error_messages_for(f.object) %>

      <div class="form-group">
        <%= f.label(:name, "Name:") %>
        <%= f.text_field(:name, :class => "form-control", :placeholder => "Full name") %>
      </div>

      <div class="form-group">
        <%= f.label(:email, "E-mail:") %>
        <%= f.text_field(:email, :class => "form-control", :type => "email", :placeholder => "Your e-mail") %>
      </div>

      <div class="form-group">
        <%= f.label(:password, "Password:") %>
        <%= f.text_field(:password, :class => "form-control", :type => "password", :placeholder => "Your password") %>
      </div>

      <div class="form-group">
        <%= f.label(:password_confirmation, "Password Confirmation:") %>
        <%= f.text_field(:password_confirmation, :class => "form-control", :type => "password", :placeholder => "Your password again") %>
      </div>

      <%= f.submit("Register", :class => "btn btn-primary") %>
    <% end %>


  </div>


</div>